<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<%= link_to 'Editar', edit_topic_path(@topic) %> |
<%= link_to 'Borrar', @topic, method: :delete, data: { confirm: 'Estas seguro krnal?' } %>
<%= link_to 'Regresar', topics_path %>
